.employer-list {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.employer-card {
  width: 260px;
  padding: 20px;
  box-shadow: 0 0 12px #ddd;
  border-radius: 8px;
  text-align: center;
}

.employer-card h3 {
  color: #1f6fd2;
}
