body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@media (max-width: 768px) {

  body {
    overflow-x: hidden;
  }

  .header,
  .nav {
    flex-direction: column;
    text-align: center;
  }

  .login-box {
    width: 95%;
    margin: auto;
    flex-direction: column;
  }

  .hero-section {
    flex-direction: column;
    padding: 20px;
    text-align: center;
  }

  .hero-section img {
    width: 100%;
  }

  .job-card {
    width: 100%;
    margin: 10px 0;
  }

  button {
    width: 100%;
  }
}

